kafka-python
pymongo
flask
six
# Hay un error con la librería six de kafka-python, busqué la última versión pero aún no está lanzada públicamente, 
#Acá la encontré en un repositorio, pip install git+https://github.com/dpkp/kafka-python.git
#time="2024-04-28T18:40:50-06:00" level=warning msg="current commit information was not captured by the build" error="git was not found in the system: exec: \"git.exe\": executable file not found in %PATH%"